body {
    margin: 0;
    width: 100%;
}

.container {
    width: 300px;
    margin: 200px auto 0;
}

.field {
    display: flex;
}

.inputtext {
    color:rgba(43, 32, 32, 0.76) ;
    font-size: 18px;
    border-left: 0;
    border-right: 0;
    width: 80px;
    line-height: 3rem;
    text-align: center;
    border: 1px solid #D7DBDD;
    padding: 0 10px;
}

.button {
    color:rgba(43, 32, 32, 0.76);
    font-size: 18px;
    cursor: pointer;
    padding: 5px 25px;
    background-color: white;
    border: 1px solid #D7DBDD;
    border-radius: 0;
    outline: 0;
}

.resetbtn {
    margin: 20px 0 0 65px;
}